*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
    overflow-x: hidden;
}

h1{
    color: white;
}


a {
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    color: white;
    text-align: center;
    font-weight: bold;
}

li{
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 margin-right: 1rem;
 height: 100%;
}


.container {
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: white;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.47);
}

.navbar {
    background-color: rgba(0, 0, 0, 0.6);
    height: 4.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    align-items: center;
    top: 0%;
}

.navbarSpanHeader {
    font-size: 2rem;
    color: rgba(0, 163, 255, 1);

}

.navbarSpan {
    padding-left: 1rem;
}

.navbarSpan:hover {
    color: rgba(0, 163, 255, 1);
}

.navbarSearch {
    padding-right: 0.5rem;
    align-items: center;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.navbarSearchBar {
    border-radius: 2rem;
    width: 15rem;
    border: 0.2rem;
    border-style: solid;
    border-color: rgba(0, 163, 255, 1);
    background-color: transparent;
    outline: 0px;
    color: white;
    height: 2rem;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbarsearchButton {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
    background-color: white;
    border: 0px;
    font-weight: bold;
    color: rgba(0, 163, 255, 1);
    border-radius: 2rem;
    height: 2rem;
    width:10rem;
    text-align: center;
}

.navbarsearchButton:hover {
    color: white;
    background-color: rgba(0, 163, 255, 1);

}

.catSearchContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.genreContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;
    text-wrap: wrap;
}

.searchCard{
    display: flex;
    background-color: rgba(0, 163, 255, 1);
    padding-left: 1.5rem;
    border-radius: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
}

.genreHeader {
    margin-right: 1rem;
    padding-right: 1rem;
}

.genreRow{
    color: white ;
    text-align: center;
}

.categoryRow{
    color: white ;
    text-align: center;
    margin-top: 1rem;
}

span {
    margin-right: 1rem;
    font-weight: bold;
    align-self: center;
   
}

.mediaColumn {
    display: flexbox;

}

.mediaRow {
    padding-bottom: 1rem;
    display: flexbox;
    flex-direction: column;
}

.media {
    border-color: transparent;
    border-style: solid;
    border-radius: 0.5rem;
    height: 20rem;
    width: 15rem;
    -webkituser-drag: none;
    align-self: center;
}

.media:hover {
    border-color: rgba(0, 163, 255, 1);
    border-radius: 2rem;
}

.mediaHeader{
    text-wrap: nowrap;
}


.selectButton {
    margin-top: auto;
    margin-bottom: 0.5rem;
    background-color: rgba(0, 163, 255, 1);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
}

.selectButton:active {
    background-color: white;
    color: rgba(0, 163, 255, 1);

}

.selectButton:hover {
    color: rgba(0, 163, 255, 1);
}